
*{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

body{
    background-color: lightseagreen; 
}

.cabeça {

    color: white;
    background-color: #151933;
    height: 150px;
    text-align: center;
    font-family: "Lato"
    }

    .Menus{
        padding: 8px;
        background-color:gray;
        text-align: center;
        }

   button{
       
       background-color: rgb(235, 69, 69);
       height: 30px;
       
   }

   p{
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

  
   .Redes{
    margin-top: 300px;
   }

   tr{
       background-color: burlywood;
   }
   h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

   label{
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   
   input{
       size: 10px;
   }
  #cartao {
      margin-left: 155px;
  }
  .form {
      color: rgb(34, 23, 2)
  }